@{
    ViewBag.Title = "Home Page";
}

<h1>Kamala Saree</h1>
<section>
    @*for Mrinal Start*@
    <div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">We Make You <span>Beautiful</span></h1>
                <div class="element">
                    <div class="sub-element">Hello, this is Kamala Saree Store.</div>
                    <div class="sub-element">We make awesome style saree for every woman</div>
                    <div class="sub-element">Come and check our elegant product</div>
                </div>

            </div>
        </div>
    </div>
    @*for Mrinal End*@
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6">
                <h2>Dashboard</h2>
                <p>
                    Dashboard to show existing inventory details.
                </p>
                @*<p><a class="btn btn-default" href="#" onclick="location.href = '@Url.Action("ShopInventory", "Dashboard")'">Shop dashboard &raquo;</a></p>*@
                @*<p><a class="btn btn-default" href="#" onclick="location.href = '@Url.Action("StorageInventory", "Dashboard")'">Inventory &raquo;</a></p>*@
                <p><input type="image" src="~/Images/button_inventory (1).png" alt="Inventory" onclick="location.href = '@Url.Action("StorageInventory", "Dashboard")'" /></p>
            </div>

            @if (User.IsInRole("Admin") || User.IsInRole("Owner") || User.IsInRole("SalesAgent"))
            {
                <div class="col-md-6">
                    <h2>Shop</h2>
                    <p>Incoming and outgoing product in the <b>Shop</b></p>
                    <p><input type="image" src="~/Images/button_product-coming-in-inventory.png" alt="Inventory" onclick="location.href = '@Url.Action("PrintBarCode", "Home")'"/></p>
                    <p><input type="image" src="~/Images/button_sell-product-from-shop.png" alt="Inventory" onclick="location.href = '@Url.Action("Sell", "Shop")'"/></p>
                    @*<p><a class="btn btn-default" href="#" onclick="location.href = '@Url.Action("Sell", "Shop")'">Sell product from Shop &raquo;</a></p>*@
                </div>
            }

            @*@if (User.IsInRole("Admin") || User.IsInRole("Owner") || User.IsInRole("InventoryAgent"))
                {
                    <div class="col-md-4">
                        <h2>Godown</h2>
                        <p>Incoming and outgoing product in the <b>Godown</b></p>

                        <p><a class="btn btn-default" href="#" onclick="location.href = '@Url.Action("StorageInventory", "Dashboard")'">Product coming in Inventory &raquo;</a></p>
                        <p><a class="btn btn-default" href="#" onclick="location.href = '@Url.Action("StorageInventory", "Dashboard")'">Send product from Inventory &raquo;</a></p>
                    </div>
                }*@

        </div>
    }
</section>
