@model InventoryApp.Models.Shopping.CustomerBillingDetails

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Detailed Bill</h4>
    <hr/>
    <div>
        Name: @Model.Customer.Name Phone Number: @Model.Customer.MobileNumber
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.TransactionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.TransactionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.OverallDiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.OverallDiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.OverallDiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.OverallDiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.CGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.CGSTRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.SGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.SGSTRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.IGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.IGSTRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.AdditionalCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.AdditionalCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDto.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDto.GrandTotal)
        </dd>

    </dl>
</div>
@*<p>
    <input type="button" id="btnPayment" value="Payment Done" />
    <input type="button" id="btnSave" onclick="@Html.ActionLink("Save All" ,"Print",@Model.TransactionId)" value="Save All" />
</p>*@

<script type="text/javascript">
    
</script>
